<section>
  <div class="row-week">
    <div *ngFor="let day of dateUtil.allDaysOfCurrentMouth()" class="column">
      <p>{{day}}</p>
      <div class="row-divider-up"></div>
      <app-card
          *ngFor="let task of taskDb.getTasks() | keyvalue"
          [hidden]="task.value.day !== day"
          [title]="task.value.name"
          [description]="task.value.desc"
          type="Python"
          class="card-task"
          [style]="'margin-top: ' + task.value.y"
        >
          <div id="infos-card">
            <p>{{task.value.hour}} - {{task.value.weekStr}} de {{task.value.date.split('/')[2]}}. <b>{{ task.value.diff }}</b></p>
          </div>
        </app-card>
      <div class="row-divider"></div>
    </div>
  </div>

  <div class="column-hour">
    <p
      *ngFor="let time of dateUtil.hours('08:00', '20:00')"
      class="{{ time < dateUtil.currentHour().join(':') && 'disable'}}"
      >
      {{ time }}
    </p>
  </div>
</section>
