<section>

  <div class="row-week">
    <div *ngFor="let week of dateUtil.allStrWeek()">
      <p>{{week}}</p>
      <div *ngFor="let task of taskDb.getTasks() | keyvalue">
        <app-card
          *ngIf="task.value.weekStr === week"
          [title]="task.value.name"
          [description]="task.value.desc"
          class="card-task"
          [style]="'margin-top: ' + task.value.verticalMargin + 'margin-right: ' + task.value.horizontalMargin"
        ></app-card>
      </div>
    </div>
  </div>

  <div class="column-hour">
    <p
      *ngFor="let time of dateUtil.hours('08:00', '20:00')"
      class="{{ time < dateUtil.currentHour().join(':') && 'disable'}}"
      >
      {{ time }}
    </p>
  </div>
</section>
