@import '/src/styles/colors.scss';


section {
  width: 100%;
  max-height: 100%;

  position: relative;
  overflow: auto;
  padding: 10px;
  background-color: $weak-white;

  .row-week {
    display: flex;
    flex-direction: row;

    margin-left: 5rem;

    .column {
      .row-divider {
        height: 100%;
        width: 1px;
        background-color: #EDEFF3;

        margin-top: 30px;

        position: absolute;
      }
    }

    p {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 2px;
      margin-right: 8rem;
    }
  }

  .column-hour {
    min-height: 100%;

    p {
      font-size: 12px;
      font-weight: bold;
      margin-top: 40px;

      &.disable {
        color: #E0E2E8;
      }
    }
  }

  .card-task {
    position: absolute;

    margin-left: 10px;
    z-index: 999999999;
  }
}
