@import '/src/styles/colors.scss';

@mixin showSelected {
  span {
    display: block;
  }
}

.container {
  width: 100%;

  display: flex;
  justify-content: center;

  margin-top: 25px;

  .tab-cont {
    padding: 5px;
    width: 99%;
    border: 1px solid $weak-white;

    margin: 5.5px;

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: #fdfdfd;
  }

  @media screen and (max-width: 500px) {
    justify-content: center;
  }

  .option-group {
    overflow: hidden;

    width: calc(80% - 10px);
    margin-bottom: 20px;

    // overflow-x: scroll;
  }

  .option-group, .filter-group {
    display: flex;
    gap: 10px;
    margin: 0 10px;
  }

  .option {
    color: $text-middle-color;
    font-size: 18px;
    font-weight: bold;
    max-width: 97px;

    margin: 0 38px;

    text-align: center;

    p { margin-bottom: 5px ;}

    span {
      background-color: $secondary-color;
      width: 30px;
      height: 2px;

      margin: 0 auto;

      display: none;
    }

    &.active {
      color: $secondary-color;

      @include showSelected;
    }

    &:hover {
      cursor: pointer;

      p { color: $secondary-color }

      @include showSelected;
    }
  }
}
