$primary-color: #5d87fa;
$secondary-color: #80cbf7;

$text-big-color: #1E2533;
$text-middle-color: #7D848D;
$text-weak-color: #5A5D6C;

$border-weak: #E9EBED;

$white: #fff;
$weak-white: #F4F6FA;

$grey-color: #666666;

$warning-c: #EDCC97;
