@import '/src/styles/colors.scss';


* {
  overflow: hidden;
}

header {
  padding: 10px;

  display: flex;
  justify-content: space-between;

  p {
    font-size: 24px;
    color: $text-big-color;
    font-weight: bold;
    letter-spacing: 5px;
  }
}
