
<section>

  <header>
    <p>To Do List</p>

    <app-simple-button [customStyles]="'width: 200px'" (putEvent)="openForm()">
      Nova tarefa
    </app-simple-button>
  </header>

  <app-tab-navigation></app-tab-navigation>

  <app-table-task></app-table-task>

  <!-- <app-simple-button [customStyles]="'width: 200px'" (putEvent)="openForm()">
    Nova tarefa
  </app-simple-button> -->
  <app-alert key="form-tarefa">
    <ng-container id="mdl" class="form-container">
      <app-input-form
        [inputData]="forms['Tarefa'].props.get('Nome')"
        (values)="setCampos = $event"
      ></app-input-form>
      <app-simple-text-area
        [inputData]="forms['Tarefa'].props.get('Desc')"
        (values)="setCampos = $event"
      ></app-simple-text-area>
      <app-simple-button [customStyles]="'width: 200px'" (putEvent)="send()">
        Submit
      </app-simple-button>
    </ng-container>
  </app-alert>

</section>
