@import '/src/styles/colors.scss';

section{
  overflow: hidden !important;

  width: 100%;
}

.add-task-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}
