@import '/src/styles/colors.scss';

button {
    border: none;
    padding: 10px 2px;
    background: $primary-color;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    max-height: 132px;

    &:hover{
      background: $secondary-color;
      cursor: pointer;
    }

    &.cancel {
      background-color: #fff;
      border: 1px solid $border-weak;

      color: $text-weak-color;

      &:hover{
        background: #fff;
        cursor: pointer;
      }
    }
}
