@import "../form.scss";
@import '/src/styles/colors.scss';

button {
    border: none;
    padding: 10px 20px;
    background: $primary-color;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
}

button:hover{
    background: $secondary-color;
    cursor: pointer;
}
