/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import '/src/styles/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 450px) {
  * {
    font-size: 14px;
  }
}

body {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.row {
  display: flex;
}

.responsive-flex {
  @media screen and (max-width: 500px) {
    flex-direction: column;
    gap: 10px;
  }
}

#filterGroup {
  @extend .row;

  @media screen and (max-width: 500px) {
    gap: 10px;
  }
}

#btn-content {
  @extend .row;
  @extend .responsive-flex;
  position: absolute;
  bottom: 10px; right: 10px;
  gap: 10px;

  // @media screen and (max-width: 500px) {
  //   flex-direction: column;
  // }
}

#infos-card {

  margin-top: 5px;

  @extend .row;

  justify-content: space-between;

  width: 100%;
  color: #434D63;

  font-size: 12px;
  font-weight: 100;
  letter-spacing: 2px;

  white-space: nowrap;

  b {
    color: $secondary-color;
  }
}
