@import '/src/styles/colors.scss';

header {
  width: 100%;
  border-bottom: 1px solid $border-weak;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .text-head {
    font-size: 24px;
    color: $text-big-color;
    font-weight: 600;
    letter-spacing: 5px;
  }
}
